@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap');

.sidebar {
    background-color: #F13662;
    padding: 1rem;
    min-height: 100vh;
    min-width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sidebar-logo {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-logo p {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #490008;
  }
  
  .logo {
    width: 80px;
  }
  
  .nav-links {
    width: 100%;
  }
  
  .mat-icon {
    font-size: 1rem; 
    display: flex;
    align-items: center;
  }

  .nav-button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Lexend', sans-serif;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
  }
  
  .nav-button.active {
    background-color: #F1F5FC;
    color: #F13662;
    font-weight: bolder;
    border-radius: 1rem;
  }
  
  .nav-button:hover {
    opacity: 0.9;
  }
  