.update-content {
    min-height: 100vh;
    width: 85%;
}
.update-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .questionnaire-container {
    background-color: #F6F9FD;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .question-header {
    margin-bottom: 1rem;
    color: #202530;
  }
  
  .question-number {
    font-weight: bold;
    color: #7c74da;
  }
  
  .question-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .question-body {
    display: flex;
    justify-content: space-evenly;
  }
  
  .option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .option-text {
    font-size: 1.125rem;
    font-family: 'Lexend', sans-serif;
  }
  
  .submit-button {
    padding: 0.75rem 2rem;
    background-color: #F13662;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
  }
  
  .submit-button:hover {
    background-color: #e03c46;
  }
  
  span{
    border: 2px solid #202530;
    padding: 1rem 7rem;
  }